services:
  mongodb:
    platform: linux/amd64
    container_name: database-tools-mongodb
    # See https://hub.docker.com/r/bitnami/mongodb/tags
    image: bitnami/mongodb:8.0.6-debian-12-r3
    environment:
    - MONGODB_ADVERTISED_HOSTNAME=127.0.0.1
    - MONGODB_REPLICA_SET_MODE=primary
    - MONGODB_ROOT_USER=mongodb
    - MONGODB_ROOT_PASSWORD=mongodb
    - MONGODB_REPLICA_SET_KEY=replicasetkey123
    ports:
    - 27017:27017
    volumes:
    - type: bind
      source: ./mnt/mongodb
      target: /data/db

  minio:
    platform: linux/amd64
    container_name: database-tools-minio
    image: minio/minio:RELEASE.2025-02-07T23-21-09Z
    ports:
    - 9000:9000
    - 9001:9001
    volumes:
    - type: bind
      source: ./mnt/minio
      target: /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server --console-address ":9001" /data

  minio-init:
    platform: linux/amd64
    # See https://hub.docker.com/r/minio/mc/tags
    image: minio/mc:RELEASE.2025-02-08T19-14-21Z
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc config host add minio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc rb --force minio/${MINIO_BUCKET} || true;
      /usr/bin/mc mb minio/${MINIO_BUCKET};
      /usr/bin/mc anonymous set download minio/${MINIO_BUCKET};
      /usr/bin/mc admin user svcacct add minio minioadmin --access-key ${MINIO_ACCESS_KEY} --secret-key ${MINIO_SECRET_KEY} || true;
      exit 0;
      "
    depends_on:
    - minio

  azurite:
    platform: linux/amd64
    container_name: database-tools-azurite
    # See https://github.com/Azure/Azurite/tags
    image: mcr.microsoft.com/azure-storage/azurite:3.34.0
    restart: always
    environment:
      AZURITE_ACCOUNTS: ${AZURITE_ACCOUNT_NAME}:${AZURITE_ACCOUNT_KEY}
    ports:
    - 10000:10000
    - 10001:10001
    volumes:
    - type: bind
      source: ./mnt/azurite
      target: /home/host
    command: azurite --blobHost 0.0.0.0 --blobPort 10000 --location /home/host --debug /home/host/azure.log

  # See https://github.com/fsouza/fake-gcs-server
  # See https://hub.docker.com/r/fsouza/fake-gcs-server/tags
  fake-gcs-server:
    platform: linux/amd64
    container_name: database-tools-fake-gcs-server
    image: fsouza/fake-gcs-server:1.52.2
    restart: always
    ports:
    - ${FAKE_GCP_PORT}:${FAKE_GCP_PORT}
    volumes:
    - type: bind
      source: ./mnt/fake-gcs-server
      target: /data
    entrypoint: >
      /bin/sh -c "
       mkdir -p /data/${FAKE_GCP_BUCKET};
      /bin/fake-gcs-server -data /data -scheme http -port ${FAKE_GCP_PORT} -public-host localhost:${FAKE_GCP_PORT} -backend memory;
      "
