name: Check code conventions

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Rerun Pre-Commit Hooks on CI
      run: pre-commit run --color=always --show-diff-on-failure --all-files

  commitlint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      with:
        fetch-depth: 0
    - uses: wagoid/commitlint-github-action@v6
