name: Check code conventions

on: push

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@v2
    - uses: actions/checkout@v3

    - name: Setup Tools
      uses: junminahn/actions/asdf-tools@v0.2.2
      with:
        plugins: |
          mongodb=https://github.com/junminahn/asdf-mongodb.git

    - name: Install Python Tools
      run: |
        pip install -r requirements.txt
        asdf reshim

    - name: Rerun Pre-Commit Hooks on CI
      run: pre-commit run --color=always --show-diff-on-failure --all-files

  commitlint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: wagoid/commitlint-github-action@v5
