name: Check code conventions

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Rerun Pre-Commit Hooks on CI
      run: pre-commit run --color=always --show-diff-on-failure --all-files
