name: Publish Docker image

on:
  push:
    tags:
    - v*.*.*

env:
  DOCKER_REGISTRY: ghcr.io
  IMAGE_NAME: egose/database-tools

jobs:
  build-push:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      actions: read
      packages: write
      security-events: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@8410ad0602e1e429cee44a835ae9f77f654a6694

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build and Push
      uses: egose/actions/docker-build-push@fc10f2556d8e479a692a1560eea078dacf12f68a
      with:
        registry-url: ${{ env.DOCKER_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: ${{ env.IMAGE_NAME }}
        metadata-tags: |
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}

    - name: Run Snyk to check Docker image for vulnerabilities
      continue-on-error: true
      uses: snyk/actions/docker@8349f9043a8b7f0f3ee8885bf28f0b388d2446e8
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}
        args: --file=Dockerfile

    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: snyk.sarif

    - name: Upload result to Artifact
      uses: actions/upload-artifact@v4
      with:
        name: snyk.sarif
        path: snyk.sarif
        retention-days: 7
