name: Publish Docker image

on:
  push:
    tags:
    - v*.*.*

env:
  DOCKER_REGISTRY: ghcr.io
  IMAGE_NAME: egose/database-tools

jobs:
  build-push:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      actions: read
      packages: write
      security-events: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build and Push
      uses: egose/actions/docker-build-push@311fba04b7412f06d1cc7d77a5126a11e7c609e7
      with:
        registry-url: ${{ env.DOCKER_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: ${{ env.IMAGE_NAME }}
        metadata-tags: |
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
        trivy: true
