name: Publish Docker image

on:
  push:
    tags:
    - v*.*.*

env:
  DOCKER_REGISTRY: ghcr.io
  IMAGE_NAME: egose/database-tools

jobs:
  build-push:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      actions: read
      packages: write
      security-events: write

    steps:
    - uses: hmarr/debug-action@a701ed95a46e6f2fb0df25e1a558c16356fae35a
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build and Push
      uses: egose/actions/docker-build-push@bc801583a1aebeaada837113ecd19e0dfc2523b8
      with:
        registry-url: ${{ env.DOCKER_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: ${{ env.IMAGE_NAME }}
        metadata-tags: |
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}

    - name: Run Snyk to check Docker image for vulnerabilities
      continue-on-error: false
      uses: snyk/actions/docker@39091e69b560da335383b404e50d65b408f4f812
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}
        args: --file=Dockerfile

    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: snyk.sarif

    - name: Upload result to Artifact
      uses: actions/upload-artifact@v3
      with:
        name: snyk.sarif
        path: snyk.sarif
        retention-days: 7
