name: Release

on:
  push:
    tags:
    - v*.*.*

jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build
      run: |
        make build-all VERSION=${{ github.ref_name}}
        make build-archive

    - name: Release
      uses: softprops/action-gh-release@5122b4edc95f85501a71628a57dc180a03ec7588
      with:
        files: dist/*.tar.gz
