name: Release

on:
  push:
    tags:
    - v*.*.*

jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build
      run: |
        make build-all
        make build-archive

    - name: Release
      uses: softprops/action-gh-release@51cfd90a6d81cfe329568f851fe2236ab4416d17
      with:
        files: dist/*.tar.gz
