name: Release

on:
  push:
    tags:
    - v*.*.*

jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build
      run: |
        make build-all VERSION=${{ github.ref_name}}
        make build-archive

    - name: Release
      uses: softprops/action-gh-release@e798e6a1ede8d07b74ac4cdac6bdfa4cc1653907
      with:
        files: dist/*.tar.gz
