name: Release

on:
  push:
    tags:
    - v*.*.*

jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build
      run: |
        make build-all VERSION=${{ github.ref_name}}
        make build-archive

    - name: Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
      with:
        files: dist/*.tar.gz
