name: Test codebase

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@8410ad0602e1e429cee44a835ae9f77f654a6694

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Run test
      run: |
        mkdir -p ./dist/mongo/db
        mongod --fork --dbpath ./dist/mongo/db --logpath ./dist/mongo/mongod.log

        until nc -z 127.0.0.1 27017
        do
          echo "Waiting for MongoDB to be ready..."
          sleep 1
        done

        bats test
