name: Test codebase

on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@a701ed95a46e6f2fb0df25e1a558c16356fae35a
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Run test
      run: |
        mkdir -p ./dist/mongo/db
        mongod --fork --dbpath ./dist/mongo/db --logpath ./dist/mongo/mongod.log

        until nc -z 127.0.0.1 27017
        do
          echo "Waiting for MongoDB to be ready..."
          sleep 1
        done

        bats test
